<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--JQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--css-->

    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">

    <!--JS-->
    <script src="/assets/js/login.js"></script>
    <title>Skyscraper</title>
</head>

<body>
    <div class="wrapping">
        <div id="titlebox">
            <div id="titlecloud"><img class="nonDraggableImage" src="/assets/images/titlecloud.png">
            </div>
            <div id="title">Sky Scraper</div>
            <div id="robot"><img class="nonDraggableImage" src="/assets/images/robot.png"></div>
        </div>
        <div id="skyscraper">
            <img class="nonDraggableImage" id="top-left-cloud" src="/assets/images/cloud1.png">
            <img class="nonDraggableImage" id="center-right-cloud" src="/assets/images/cloud2.png">
            <div id="building-body">
                {{{body}}}
            </div>
            <div id="curtain"></div>
            <div id="door"></div>
            <div id="grass-border"><img class="nonDraggableImage" src="/assets/images/grass.png"></div>
        </div>
        <p style="font-size: 14px">Copyright 2018 Michelle Le</p>
    </div>
</body>

</html>