<h2>Welcome</h2>
<div id="robot-textbox">
	<div id="robot-text">
		Hello, <span class="titleize">{{dbUser.name}}</span>.
		<br>Let me scrape you some articles about the weather.
	</div>
	<a href="/">Logout</a>
</div>