<div id="robot-textbox">
	<div id="robot-text">
		Hello, <span class="titleize">{{dbUser.name}}</span>.
		<br>Let me scrape you some articles about the weather.
	</div>
	<a href="/">Logout</a>
</div>
<button id="scrape-button">Scrape</button>
<button class="save-button">Test</button>
<div id="articles-place"></div>