<h3>Log In</h3>
<div id="login-box">
	<div id="form-group">
		<form>
			<label for="username">Username </label>
			<input type="text" max-length="15" name="username">
			<br>
			<br>
			<label for="password">Password </label>
			<input type="password" max-length="15" name="password">
		</form>
	</div>
</div>